<h1>Functions</h1>
<p>
    Functions are the core to JavaScript. They are so powerful and used for so many reasons it can be a really challenging to get started.
    There is also some confusing aspects as to how to create a function. This only becomes apparent once you understand how to perform
    Object Orientated Programming within javaScript. For now, review the different ways a function/code-block can be re-used.
</p>
<p>
    Here we are looking at using a function to repeat a block of code. We could copy and paste the code multiple times
    however if we need to update/maintain this code it can become impossible.
    I have also shown how functions can be created using different techniques.
</p>

<div id="editorwrapper" class="col-xs-6">
<pre id="editor">
// Creates a variable called add that holds the function
var add = function(a, b) { return a + b; };

// Creates a function called adder. This will be available to the whole script, even code above this line!
function adder(a,b) { return a + b; }

// Creates a function that returns a function. A little odd but can be useful in some OOP design patterns
function iMath() {
    return function(a, b) { return a + b; };
}

var gas = 20;
var electric = 35;

console.log('add', add(gas, electric));
console.log('adder', adder(gas, electric));
console.log('Math', iMath()(gas, electric));
</pre>
</div>

<div class="col-xs-6">
    <fieldset>
        <legend>Results</legend>
        <div ng-repeat="data in scriptResults track by $index">{{data}}</div>
    </fieldset>
</div>

<div class="col-xs-12">
    <input type="button" ng-click="runScript()" value="run" class="btn btn-default" />
    <input type="button" ng-click="clearResults()" value="clear" class="btn btn-default" />

</div>