$blue: #6666FF;
$red: #FF6666;
$green: #3CA372;
$greendark: #215B3F;
$mainFont: 'Hind', sans-serif;
$gray: #cccccc;

// The color of the Menu alternates
$bgmenu1: $green;
$bgmenu2: $greendark;

$headercolor: $green;
$fontcolor: $greendark;