<h1>Map</h1>
<p>Projects each element of an observable sequence into a new form by incorporating the element's index. This is an alias for the select method.</p>

<div id="editorwrapper" class="col-xs-6">
<pre id="editor">
    var source = Rx.Observable.when(
    Rx.Observable.timer(1000)
        .and(Rx.Observable.timer(1000))
            .thenDo(function (x, y) { return 'first'; }),
    Rx.Observable.timer(500)
        .and(Rx.Observable.timer(500))
            .thenDo(function (x, y) { return 'second'; })
);
var subscription = source.subscribe(
    function (x) {
        console.log('Next: ' + x);
    },
    function (err) {
        console.log('Error: ' + err);
    },
    function () {
        console.log('Completed');
    });
</pre>
</div>

<div class="col-xs-6">
    <fieldset>
        <legend>Results</legend>
        <div ng-repeat="data in scriptResults track by $index">{{data}}</div>
    </fieldset>
</div>

<div class="col-xs-12">
    <input type="button" ng-click="runScript()" value="run" class="btn btn-default" />
    <input type="button" ng-click="clearResults()" value="clear" class="btn btn-default" />

</div>