<h1>Select</h1>
<p>
    Loop over the array of items and perform a calculation/transformation on the data within.
    The following example shows how to loop over an array and pow(2) the number.
</p>

<div id="editorwrapper" class="col-xs-6">
<pre id="editor">
// Using a function
var source = Rx.Observable.range(1, 3)
    .select(function (x, idx, obs) {
        return x * x;
    });

source.forEach(function(x) {
   console.log(x);
});
</pre>
</div>

<div class="col-xs-6">
    <fieldset>
        <legend>Results</legend>
        <div ng-repeat="data in scriptResults track by $index">{{data}}</div>
    </fieldset>
</div>

<div class="col-xs-12">
    <input type="button" ng-click="runScript()" value="run" class="btn btn-default" />
    <input type="button" ng-click="clearResults()" value="clear" class="btn btn-default" />

</div>